*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

p{
    font-size: 16px;
    font-weight: 500;
}

.pt-50{
    padding: 50px 0 0 0;
}

.btn-primary{
    background-color: #2d2d2d;
    color: #fff;
    border: 1px solid #2d2d2d;
    transition: 0.3s all ease-in;
}

.btn-primary:hover{
    background-color: #fff;
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
}

header{
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav.navbar .site-id img{
    height: 150px;
    object-fit: cover;
    margin-left: 30px;
}

nav.nav-bar .nav-menu{
    overflow: hidden;
}

nav.navbar .nav-menu ul.desktop-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    margin-right: 30px;
}

nav.navbar .nav-menu ul li{
    padding: 10px;
}

nav.navbar .nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #f5f5f5;
    cursor: pointer;
    transition: 0.2s all ease-in;
}

nav.navbar .nav-menu ul li a:hover{
    color: #a71f1f;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.about-container .about-left{
    flex: 0 0 40%; 
}

.about-container .about-left img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.about-container .about-left,
.about-container .about-right{
    padding: 0px 30px;
}

.about-container .about-left h1{
    color: #2d2d2d;
}

.about-container .about-left p,
.about-container .about-right p{
    text-align: justify;
    font-size: 22px
}


.about-container .about-right{
    margin: 30px 0;
}


.contactBtn{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.about-content h1,
.about-content h2,
.about-content h3,
.about-content h4,
.about-content h5,
.about-content h6{
    padding: 10px 0;
}

.about-content p{
    padding: 15px 0;
}

/* PORTFOLIO */
.portfolio-container{
    padding: 0 50px;
}

.portfolio-container .section-title h2{
    padding: 50px 0;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

.portfolio-body .portfolio-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.portfolio-body .portfolio-list .portfolio-item{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio-body .portfolio-list .portfolio-item .portfolio-image img{
    width: 100%;
    object-fit: contain;
    height: 250px;
}

h4.portfolio-title a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    /* width: 100%; */
}

p.portfolio-description{
    text-align: justify;
}

/* SERVICES STYLE */
.services-container{
    padding: 0 50px;
}

.services-container .section-title h2{
    padding: 50px 0;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

ul.service-list{
    display: grid;
    grid-template-columns: auto auto auto;
}

li.service-item {
    padding: 30px 10px;
    margin: 5px;
    background: #041862;
    color: #fff;
    border-radius: 10px;
}

h4.service-title {
    font-size: 20px;
    text-align: center;
}

.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-image{
    padding: 10px;
}
.service-image img{
    height: 100px;
    object-fit: cover;
    width: 100px;
}
/* MOBILE MENU STYLES */
.mobile-menu-btn{
    margin-right: 30px;
}

.mobile-menu-btn a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

ul.mobile-menu{
    display: none;
}


.mobile-menu-btn{
    display: none;
}

/* Contact Styles */
.contact-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.contact-container .form-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding: 30px 0;
}

form .form-group {
    padding: 15px;
}

input{
    padding: 10px;
}

input, textarea{
    width: 100%;
}

.text-danger{
    color: red;
}

.contactFormBtn {
    padding: 11px;
    background: #2e2e2e;
    color: #fff;
    border: 2px solid #2e2e2e;
    border-radius: 9px;
    width: 100px;
    transition: 0.5s all ease-in-out;
}

.contactFormBtn:hover{
    color: #2e2e2e;
    background-color: #fff;
    cursor: pointer;
}
/* Footer Styles */
footer{
    margin: 10px 0 0 0;
    padding: 15px;
    background: #00195f;
}

.footer-container .copyright{
    display: flex;
    justify-content: center;
}

.footer-container .copyright p{
    color: #fff;
}



@media screen and (min-width:860px) {
    .mobile-menu-btn{
        display: none;
    }
}


@media screen and (max-width: 767px) {

    .desktop-menu{
        display: none !important;
    }
    .mobile-menu-btn{
        display: block;
    }
/* Mobile Menu */


    ul.mobile-menu{
        position: absolute;
        z-index: 999;
        background: black;
        width: 100%;
        right: 0px;
        top: 152px;
    }

    ul#mobileMenuBlock li.menu-item{
        text-align: center;
    }
    .about-container{
        flex-wrap: wrap;
    }   

    .about-container .about-left{
        flex: 0 0 100%; 
    }


    .portfolio-body .portfolio-list{
        grid-template-columns: auto auto;
    }

    .contact-container {
        grid-template-columns: auto;
    }
}

@media screen and (min-width:500px) and (max-width:769px){
    
    .about-container .about-left img{
        height: 500px;
        width: 300px;
    }

}

@media screen and (max-width:500px) {
    ul.service-list{
        grid-template-columns: auto;
    }
    
}


@media screen and (min-width:376px) and (max-width:426px){

    .about-container{
        flex-direction: column;
    }
    .portfolio-body .portfolio-list{
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 320px) and (max-width:376px) {

    .about-container .about-left img{
        height: 250px;
        width: 250px;
    }
    .about-container .about-right{
        width: 80vh;
        padding: 0;
        margin: 0;
    }
    
    .about-left p, .about-container .about-right p {
        text-align: justify;
        font-size: 22px;
        width: 50vh;
        padding: 0;
    }

    .about-content h1, .about-content h2, .about-content h3, .about-content h4, .about-content h5, .about-content h6{
        width: 50vh;
    }

    .portfolio-body .portfolio-list{
        grid-template-columns: auto;
    }
}